@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-backgroud {
    background-color: #000;
}   

.bg-foreground {
    background-color: #ECEDEE;
}

.bg-content1 {
    background-color: #18181b;
}

.bg-button-gray {
    background-color: #3F3F46;
}

.bg-button-green {
    background-color: #17C964;
}

.with-card {
    width: 70%;

    @media screen and (min-width: 900px) {
        width: 50%;
    }

    @media screen and (min-width: 1200px) {
        width: 40%;
    }

    @media screen and (min-width: 1450px) {
        width: 30%;
    }
}

/* Efect ripper */

.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple-animation 600ms linear;
  pointer-events: none;
  z-index: 0;
}

.ripple-green {
  background-color: rgba(0, 100, 0, 0.4);
}

.ripple-blue {
  background-color: rgba(0, 0, 255, 0.3);
}

.ripple-gray {
  background-color: rgba(255, 255, 255, 0.2);
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

  